[submodule "drift-detection"]
	path = drift-detection
	url = https://github.com/arewm/drift-detection
[submodule "rh-apisonator/apisonator"]
	path = rh-apisonator/apisonator
	url = https://github.com/3scale/apisonator
	branch = master
[submodule "rh-zync/zync"]
	path = rh-zync/zync
	url = https://github.com/3scale/zync
[submodule "rh-toolbox/toolbox"]
	path = rh-toolbox/toolbox
	url = https://github.com/3scale/3scale_toolbox
[submodule "rh-porta/porta"]
	path = rh-porta/porta
	url = https://github.com/3scale/porta
	branch = 3scale-2.15-stable
[submodule "rh-apicast/apicast"]
	path = rh-apicast/apicast
	url = https://github.com/3scale/apicast
	branch = feat/better_build
[submodule "rh-searchd/manticore"]
	path = rh-searchd/manticore
	url = https://github.com/manticoresoftware/manticoresearch
	branch = manticore-6.2.12
[submodule "rh-searchd/columnar"]
	path = rh-searchd/columnar
	url = https://github.com/manticoresoftware/columnar
[submodule "rh-searchd/uni-algo"]
	path = rh-searchd/uni-algo
	url = https://github.com/manticoresoftware/uni-algo
	branch = main
[submodule "rh-searchd/nlohmann-json"]
	path = rh-searchd/nlohmann-json
	url = https://github.com/nlohmann/json
	branch = develop
